<div class="mainContainer _1_Nn" data-reactid="435">
    <div class="_2rUR" data-reactid="436">
        <div class="_2Akv" data-reactid="437">
            <div class="CeuE" data-reactid="438">
                <div class="ovY8" data-reactid="439"><img class="_1Wao"
                        src="https://assetscdn1.paytm.com/images/catalog/view/291812/1568807608231.jpg?imwidth=64&amp;impolicy=hq"
                        data-reactid="440"></div>
                <div class="_3O4j" data-reactid="441">
                    <div class="saMv" data-reactid="442">
                        <h2 class="OPyu" data-reactid="443" >{{title}}</h2>
                    </div><!-- react-text: 444 -->
                    <!-- /react-text -->
                </div>
            </div>
        </div>
    </div>
    <div class="_2fSM" data-reactid="445">
        <div data-reactid="446">
            <div class="_10Am" data-reactid="447">
                <div class="jCqS _19iN" style="left:0%;" data-reactid="448">
                    <div class="_3Xyq" style="width:17.857142857142858%;" data-reactid="449"  *ngFor="let item of items" ng serve>
                        <div class="_3Idz" data-reactid="450"><a
                                href="https://paytmmall.com/redmi-7a-2-gb-32-gb-matte-blue-CMPLXMOBREDMI-7A-2-GTECH221382E7D1C24-pdp?src=store&amp;product_id=311760115&amp;from=storefront"
                                title="At Rs. 6497" class="s3aY" target="_top" data-reactid="451">
                                <div class="k50R" data-reactid="452">
                                    <div class="_3M3H" data-reactid="453"><span class="_2EKM"><img role="presentation"
                                                alt="At Rs. 6497"
                                                [src]="item.img"></span>
                                    </div>
                                    <div class="RcEe" data-reactid="454">{{item.desc}}</div>
                                </div>
                            </a></div>
                    </div>
                    
                </div>
                <!-- <div class="_1JVU _3pq_" data-reactid="485"><span data-reactid="486"></span></div> -->
            </div>
        </div>
    </div>
</div>
