<app-navigation ></app-navigation>

<app-booking ></app-booking>

<app-shopping></app-shopping>

<app-display-item [items]="mobileArray" title="Smartphones at Best Price Online"></app-display-item>

<app-display-item [items]="fashionArray" title="Fashion Offers"></app-display-item>

<app-display-item [items]="travelArray" title="Travel"></app-display-item>

<app-display-item [items]="entertainmentArray" title="Entertainment"></app-display-item>

<app-display-item [items]="gadgetArray" title="Gadget Zone"></app-display-item>

<app-display-item [items]="investArray" title="Paytm Money | Invest in Mutual funds"></app-display-item>

<app-display-item [items]="appliancesArray" title="Appliances | Best Prices Online"></app-display-item>

<app-display-item [items]="brandArray" title="Brand Vouchers"></app-display-item>

<app-display-item [items]="hotdealsArray" title="Hot Deals"></app-display-item>

<app-info></app-info>